<launch>
  <arg name="session_mode" default="runtime" />
  <arg name="spawn_x" default="0.0" />
  <arg name="spawn_y" default="0.0" />
  <arg name="spawn_z" default="0.2" />
  <arg name="robot_name" default="smart_basic" />

  <arg name="simulation_bringup_dir" default="$(find simulation_bringup)" />
  <arg name="repo_root" default="$(eval str(__import__('pathlib').Path(arg('simulation_bringup_dir')).resolve().parents[3]))" />

  <arg name="world_file" default="$(find gazebo_ros)/worlds/empty.world" />
  <arg name="car_spawn_launch" default="$(arg repo_root)/13_path_following_part_3_pure_persuit/car_model/launch/spawn_xacro.launch" />
  <arg name="urdf_file" default="$(arg repo_root)/05_basic_car/urdf/smart.xacro" />

  <arg name="gazebo_gui" default="$(eval 'false' if arg('session_mode') == 'test' else 'true')" />
  <arg name="gazebo_paused" default="$(eval 'true' if arg('session_mode') == 'test' else 'false')" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="$(arg gazebo_paused)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
  </include>

  <group ns="stage05_basic_car">
    <param name="session_mode" value="$(arg session_mode)" />
    <param name="/simulation_bringup/stage05_basic/session_mode" value="$(arg session_mode)" />
    <include file="$(arg car_spawn_launch)">
      <arg name="x" value="$(arg spawn_x)" />
      <arg name="y" value="$(arg spawn_y)" />
      <arg name="z" value="$(arg spawn_z)" />
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="urdf_robot_file" value="$(arg urdf_file)" />
    </include>
  </group>
</launch>
